.contacthero{
    background-image: url(https://mojgenie.com/img/contact.jpg);
    height: 397px;
    margin-top: -50px;
    &-head{
        color: white;
        font-family: sans-serif;
        margin-left: 70px;
        padding-top: 150px;
        font-size: 64px;
    }
    
}