.content{
    
   
    &-head{
        padding-top: 50px;
        margin-left: 70px;
        font-size: 40px;
        font-family: sans-serif;
        
    }
    &-head::before{
        
            position: absolute;
            content: "";
            left: 75px;
            bottom: 100px;
            background-color: #242424;
            width: 53px;
            height: 3px;
        
        
        

        
        
    }
    &-para{
        margin-top: 50px;
        margin-left: 70px;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }
}