.hero {
  
  background-image: url(../../../public/img/kj.jpg);
  background-size: cover;

  &-head {
    font-size: 58px;
    font-weight: 700;
    line-height: 74px;
    font-family: sans-serif;
    margin-left: 70px;
    padding-top: 60px;
    padding-left: pt;
    margin-top: 20px;
  }
  &-para {
    margin-left: 70px;
    font-family: sans-serif;
    font-weight: 400px;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: -30px;
    
  }
  &-link {
    background-color: $btn;
    color: white;
    text-decoration: none;
    margin-left: 70px;
    padding: 15px 20px;
    font-family: sans-serif;
    
    
  }
}
