.move{
    background-color: #f7f7f7;
    width: 1350px;
    height: 200px;
    padding-bottom: 50px;
    &-para{
        margin-top: -100px;
        font-family: sans-serif;
        color: #6a6a6a;
        margin-left: 600px;
        padding-top: 50px;
    }
}