.navb {
  display: flex;
  margin-left: 70px;
  background-color: white;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 35px;
  position: fixed;
  margin-top: 0px;
  padding-top: 20px;

  &-nav {
    margin-left: 500px;
    margin-top: 25px;
  }

  &-logo {
    // border: 1px solid black;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 0pt;
  }
  &-text {
    margin-left: 0px;

    // border: 1px solid black;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin-top: 10px;
    margin-right: 20px;
  }
}
