.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.nav .logo {
  height: 70px;
  padding-left: 70px;
}

.link-item {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  padding-right: 40px;
}

.hero {
  background-image: url(../../../public/img/kj.jpg);
  background-size: cover;
}
.hero-head {
  font-size: 58px;
  font-weight: 700;
  line-height: 74px;
  font-family: sans-serif;
  margin-left: 70px;
  padding-top: 60px;
  margin-top: 20px;
}
.hero-para {
  margin-left: 70px;
  font-family: sans-serif;
  font-weight: 400px;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: -30px;
}
.hero-link {
  background-color: rgb(99, 99, 228);
  color: white;
  text-decoration: none;
  margin-left: 70px;
  padding: 15px 20px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.content-head {
  padding-top: 50px;
  margin-left: 70px;
  font-size: 40px;
  font-family: sans-serif;
}
.content-head::before {
  position: absolute;
  content: "";
  left: 75px;
  bottom: 100px;
  background-color: #242424;
  width: 53px;
  height: 3px;
}
.content-para {
  margin-top: 50px;
  margin-left: 70px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-flexbox {
  width: 250px;
  height: 470px;
  border: 0.1px solid black;
  background-color: white;
  margin-left: 70px;
}
.container-flexboxx {
  width: 250px;
  height: 470px;
  border: 0.1px solid black;
  background-color: white;
  justify-content: space-between;
}
.container-flexboxxx {
  width: 250px;
  height: 470px;
  border: 0.1px solid black;
  background-color: white;
  justify-content: space-between;
}
.container-flexboxxxx {
  width: 250px;
  height: 470px;
  border: 0.1px solid black;
  background-color: white;
  justify-content: space-between;
  margin-right: 70px;
}
.container-img {
  margin-top: 30px;
  margin-left: 30px;
}
.container-head {
  margin-left: 30px;
  font-family: sans-serif;
}
.container-head::before {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -330px;
  width: 53px;
  height: 3px;
}
.container-headd {
  margin-left: 30px;
  font-family: sans-serif;
}
.container-headd::before {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -330px;
  width: 53px;
  height: 3px;
}
.container-para {
  margin-left: 30px;
  font-family: sans-serif;
  color: #6a6a6a;
  line-height: 25px;
  font-size: larger;
}
.container-paraa {
  margin-top: 50px;
  margin-left: 30px;
  font-family: sans-serif;
  color: #6a6a6a;
  line-height: 25px;
  font-size: larger;
}
.container-link {
  margin-left: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid blue;
  text-decoration: none;
  padding: 15px 30px;
  color: blue;
  font-family: sans-serif;
}
.container-linkk {
  margin-left: 30px;
  background-color: rgb(255, 255, 255);
  border: 2px solid blue;
  text-decoration: none;
  padding: 15px 30px;
  color: blue;
  font-family: sans-serif;
}

.technology {
  background-color: #f7f7f7;
  display: flex;
}
.technology-para {
  width: 750px;
  height: 600px;
}
.technology-box {
  width: 600px;
  height: 600px;
}
.technology-head {
  margin-left: 70px;
  font-family: sans-serif;
  font-size: 40px;
}
.technology-head::before {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -750px;
  width: 53px;
  height: 3px;
}
.technology-pa {
  margin-left: 70px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.process-head {
  padding-top: 50px;
  margin-left: 70px;
  font-size: 40px;
  font-family: sans-serif;
}
.process-head::before {
  position: absolute;
  content: "";
  background-color: black;
  bottom: -1315px;
  width: 53px;
  height: 3px;
}
.process-para {
  margin-top: 50px;
  margin-left: 70px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.pflex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pflex-flexbox {
  width: 250px;
  height: 100px;
  background-color: white;
  margin-left: 70px;
}
.pflex-flexboxx {
  width: 250px;
  height: 100px;
  background-color: white;
  justify-content: space-between;
}
.pflex-flexboxxx {
  width: 250px;
  height: 100px;
  background-color: white;
  justify-content: space-between;
}
.pflex-flexboxxxx {
  width: 250px;
  height: 470px;
  justify-content: space-between;
  margin-right: 70px;
}
.pflex-img {
  margin-top: 30px;
  margin-left: 30px;
}
.pflex-head {
  margin-left: 30px;
  font-family: sans-serif;
}
.pflex-headd {
  margin-top: 40px;
  margin-left: 30px;
  font-family: sans-serif;
}
.pflex-para {
  margin-left: 30px;
  font-family: sans-serif;
  color: #6a6a6a;
  line-height: 25px;
  font-size: medium;
}
.pflex-paraa {
  margin-left: 30px;
  font-family: sans-serif;
  color: #6a6a6a;
  line-height: 25px;
  font-size: medium;
}

section {
  background-color: #f7f7f7;
  font-family: helvetica;
  text-transform: uppercase;
  overflow-x: hidden;
}
section div {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
}
section div .news-message {
  display: flex;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 20s linear infinite;
  padding-top: 50px;
}
section div .news-message p {
  font-size: 2.5em;
  font-weight: 100;
  padding-left: 0.5em;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.footercontainer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 1350px;
  padding-top: 50px;
}
.footercontainer-para {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 30px;
  margin-left: 550px;
}
.footercontainer-link {
  padding-top: 20px;
  margin-right: 50px;
  margin-left: -150px;
}

.contactflex {
  display: flex;
  height: 650px;
  width: 1350px;
  background-image: url(https://mojgenie.com/img/enquiry-bg.jpg);
}
.contactflex-text {
  width: 600px;
  height: 650px;
}
.contactflex-form {
  width: 400px;
  margin-top: 30px;
}
.contactflex-head {
  color: white;
  padding-top: 50px;
  margin-left: 70px;
  font-size: 50px;
  font-family: sans-serif;
}
.contactflex-para {
  color: white;
  margin-left: 70px;
}

#contact input[type=text], #contact input[type=email], #contact input[type=tel], #contact input[type=url], #contact textarea, #contact button[type=submit] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  margin-left: 1px;
  background: white;
  padding: 25px;
  padding-top: 2px;
  padding-bottom: 5px;
  margin: 50px 0;
}

#contact h3 {
  color: blacl;
  display: block;
  font-size: 30px;
  font-weight: 400;
  font-family: sans-serif;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type=text], #contact input[type=email], #contact input[type=tel], #contact input[type=url], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type=text]:hover, #contact input[type=email]:hover, #contact input[type=tel]:hover, #contact input[type=url]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: 1px solid blue;
  background: white;
  color: bl;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type=submit]:hover {
  background: blue;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type=submit]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.move {
  background-color: #f7f7f7;
  width: 1350px;
  height: 200px;
  padding-bottom: 50px;
}
.move-para {
  margin-top: -100px;
  font-family: sans-serif;
  color: #6a6a6a;
  margin-left: 600px;
  padding-top: 50px;
}

.squre {
  display: flex;
  gap: 10px;
}
.squre-box {
  width: 100px;
  height: 100px;
  border: 1px solid #dee2e6;
  margin-left: 20px;
  margin-top: 40px;
}
.squre-img {
  margin-left: 20px;
  margin-top: 10px;
}
.squre-p {
  margin-left: 20px;
  margin-top: 0px;
}
.squre-php {
  margin-left: 10px;
  margin-top: 10px;
}
.squre-ph {
  margin-left: 35px;
  margin-top: 8px;
}
.squre-pweb {
  margin-left: 40px;
  margin-top: 0px;
}
.squre-Java {
  margin-left: 0px;
  margin-top: -10px;
}
.squre-pJava {
  margin-left: 30px;
  margin-top: -20px;
}
.squre-aws {
  margin-left: 20px;
  margin-top: 20px;
}
.squre-paws {
  margin-left: 35px;
  margin-top: -3px;
}

.contacthero {
  background-image: url(https://mojgenie.com/img/contact.jpg);
  height: 397px;
  margin-top: -50px;
}
.contacthero-head {
  color: white;
  font-family: sans-serif;
  margin-left: 70px;
  padding-top: 150px;
  font-size: 64px;
}

.flexcontainer {
  display: flex;
}
.flexcontainer-box {
  width: 130px;
  height: 100px;
}
.flexcontainer-box1 {
  width: 350px;
  height: 100px;
}
.flexcontainer-img {
  margin-left: 70px;
}
.flexcontainer-para {
  margin-top: 0px;
  margin-left: 40px;
  font-size: 19px;
  font-family: "Inter", sans-serif;
  margin-top: 0px;
}

.writings-head {
  margin-left: 70px;
  font-family: sans-serif;
  font-size: 35px;
  line-height: 42px;
  margin-top: 70px;
}
.writings-para {
  margin-left: 70px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form2 {
  margin-top: 70px;
  background-image: url(https://mojgenie.com/img/enquiry-bg.jpg);
  background-size: 130%;
  height: 790px;
  display: flex;
}
.form2-text {
  width: 630px;
  height: 650px;
  margin-top: 70px;
  margin-left: 70px;
}
.form2-form {
  width: 450px;
  height: 650px;
  margin-top: 70px;
  background-color: white;
}
.form2-head {
  margin-top: -10px;
  color: white;
  font-size: 50px;
  font-family: sans-serif;
}
.form2-para {
  color: white;
}

.contactfooter {
  background-color: black;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contactfooter-img {
  color: white;
  margin-left: 70px;
}
.contactfooter-para {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 750px;
  margin-right: 20pt;
}

.form {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.form-head {
  margin-top: 50px;
  padding-left: 50px;
  font-family: sans-serif;
  font-size: 30px;
}
.form-para {
  padding-left: 50px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.form-feild {
  border: 1px solid #ced4da;
  width: 350px;
  height: 40px;
}
.form-button {
  border: 1px solid rgb(134, 134, 188);
  background-color: white;
  color: rgb(134, 134, 188);
  width: 350px;
  height: 40px;
}
.form-button:hover {
  background: rgb(89, 89, 154);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.navb {
  display: flex;
  margin-left: 70px;
  background-color: white;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 35px;
  position: fixed;
  margin-top: 0px;
  padding-top: 20px;
}
.navb-nav {
  margin-left: 500px;
  margin-top: 25px;
}
.navb-logo {
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 0pt;
}
.navb-text {
  margin-left: 0px;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  margin-top: 10px;
  margin-right: 20px;
}

.form3 {
  margin-top: 0px;
  background-size: 130%;
  height: 790px;
  display: flex;
  padding-bottom: 50px;
}
.form3-text {
  width: 630px;
  height: 650px;
  margin-top: 70px;
  margin-left: 70px;
}
.form3-form {
  width: 450px;
  height: 650px;
  margin-top: 70px;
  background-color: #f7f7f7;
  margin-left: 50px;
  margin-top: 110px;
}
.form3-head {
  margin-top: -10px;
  color: black;
  font-size: 50px;
  font-family: sans-serif;
}
.form3-para {
  color: black;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.form3-img {
  max-width: 500px;
}

.form {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: #f7f7f7;
}
.form-head {
  margin-top: 50px;
  padding-left: 50px;
  font-family: sans-serif;
  font-size: 30px;
}
.form-para {
  padding-left: 50px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.form-feild {
  border: 1px solid #ced4da;
  width: 350px;
  height: 40px;
}
.form-button {
  border: 1px solid rgb(134, 134, 188);
  background-color: white;
  color: rgb(134, 134, 188);
  width: 350px;
  height: 40px;
}
.form-button:hover {
  background: rgb(89, 89, 154);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.getconsultaionform {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.getconsultaionform-head {
  margin-top: 50px;
  padding-left: 50px;
  font-family: sans-serif;
  font-size: 30px;
}
.getconsultaionform-para {
  padding-left: 50px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.getconsultaionform-feild {
  border: 1px solid #ced4da;
  width: 350px;
  height: 40px;
}
.getconsultaionform-button {
  border: 1px solid rgb(134, 134, 188);
  background-color: white;
  color: rgb(134, 134, 188);
  width: 350px;
  height: 40px;
}
.getconsultaionform-button:hover {
  background: rgb(89, 89, 154);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
